/* Variables */
:root {
  --basic-black: #000000;
  --basic-button: #FFFFFF;
  --basic-extra-dark: #242424;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;
  --basic-spesical: #E74246;
  --special: #663d15;
}

/* Global */
body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation-picture {
  background-color: var(--basic-white);


}

.site-navigation {
  list-style: none;
}

<!--
.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

-->

/* User navigation */
.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-spesical);
  border-radius: 3px;
}

.index-columns {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("../img/pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  font-size: 45px;
  line-height: 64px;

.friends a:hover,
.friends a:focus{
  opacity: 0.2;
  background-color: var(--basic-black);

}
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-black;)
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 5px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--basic-spesical);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);

