:root {
  --black: #283136;
  --white: #ffffff;
  --black-central: #000000;
  --gray: #EEEEEE;
  --focus: #FB565A;
}


body {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  padding: 0;
  min-width: 1440px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*header*/
.main-header {
  background-color: var(--gray);
}

.page {
  height: 100%;

}

.page-body {
  min-width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100px;

}

.main-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.site-navigation a,
.user-basket {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-basket:hover,
.user-basket:focus {
  color: #FB565A;
}

.site-navigation a:active,
.user-basket:active {
  color: #000000;
  opacity: 0.3;
}

.service-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 140px;
  padding: 80px;
}

.service p {
  margin: 30px 0;

}

.service-list h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.button {
  background: #FB565A;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.button:hover,
.button:focus {
  background: #E74246;
}

.button:active {
  background: #D7373B;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 225, 0.3);
  border: none;
}

.button-green {
  background: #00CA74;
}

.button-green:hover,
.button-green:focus {
  background: #00BC6C;
}

.button-green:active {
  background: #00AA62;
}

.button-yellow {
  background: #EFC84A;
}

.button-yellow:hover,
.button-yellow:focus {
  background: #EAB534;
}

.button-yellow:active {
  background: #E5A722;
}

.button-gray {
  background: #EEEEEE;
  color: #000000;

}

.button-gray:hover,
.button-gray:focus {
  background: #DFDFDF;
}

.button-gray:active {
  background: #D5D5D5;
  color: rgba(0, 0, 0, 0.3);


}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.social-list a {
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-list a:hover,
.social-list a:focus {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-list a:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.main-footer-lead {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.main-footer-text {
  color: #444444;
  line-height: 22px;
}

.title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  background: #EEEEEE;
  text-align: center;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter label {
  font-size: 16px;
  line-height: 19px;
  color: #283136;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.catalog-info {
  background: #EEEEEE;
}

.catalog-info h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog-info p {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}
.catalog-list{
  display: grid;
  gap:40px;
  grid-template-columns: 578px 578px ;
  margin: 140px;
}
