/* Variables */
:root {
  --basic-black: #000000;
  --basic-button: #FFFFFF;
  --basic-extra-dark: #242424;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;

  --colar: #FB565A;
  --colar-dark: #E74246;
  --colar-very-dark: #D7373B;

  --green: #00CA74;
  --green-dark: #00BC6C;
  --green-very-dark: #00AA62;

  --yellow: #EFC84A;
  --yellow-dark: #EAB534;
  --yellow-very-dark: #E5A722;
}

/* Global */
body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

h2 {
  text-transform: uppercase;
}

header {
  font-family: Roboto, Arial, sans-serif;
  background-color: #EEEEEE;
  font-size: 16px;
  line-height: 30px;
  display: flex;
}

.cut-down {
  display: none;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.site-navigation {
  list-style: none;
  text-transform: uppercase;
}

.header {
  height: 545px;
  background: #EEEEEE no-repeat center bottom;
}

.main-picture {
  background: #EEEEEE;
}

.button {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  padding: 14px 40px;
  border: 2px solid #FB565A;
  background-color: #FB565A;
}

.button-red:hover,
.button-red:focus {
  border: 2px solid #FB565A;
  background-color: #FB565A;

}

.button-red:focus {
  background-color: #E74246;
}

.button-red:active {
  background-color: #D7373B;
  opacity: 0.3;
}

.button-green:hover,
.button-green:focus {
  border: 2px solid #4CAF50;
  background-color: #00CA74;
}

.button-green:focus {
  background-color: #00BC6C;

}

.button-green:active {
  background-color: #00AA62;
  opacity: 0.3;
}

.button-yellow:hover,
.button-yellow:focus {
  border: 2px solid #EFC84A;
  background-color: #EFC84A;
}

.button-yellow:focus {
  background: #EAB534;

}

.button-yellow:active {
  background: #E5A722;
  opacity: 0.3;
}

.name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.logo-basket {
  text-transform: uppercase;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.friends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="text"],
input[type="email"] {
  width: 360px;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px 25px;
  border: 5px solid #cccccc;
  text-align: left;
}

.site-navigation {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #EEEEEE;
}

.site-navigation a:hover,
.site-navigation a:focus,
.logo-basket a :hover,
.logo-basket a :focus
{

 color: #FB565A;
}

.site-navigation a:active,
.logo-basket a:active{
  opacity: 0.3;

}
